[submodule "backend"]
	path = backend
	url = https://github.com/effervescentia/aurelia-sailsjs-boilerplate-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/effervescentia/aurelia-sailsjs-boilerplate-frontend
