[submodule "frontend"]
	path = frontend
	url = https://github.com/effervescentia/aurelia-sails-boilerplate-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/effervescentia/aurelia-sails-boilerplate-backend
